* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 250px 3fr;
    grid-template-rows: 35px 60px min(1084px);
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr auto auto .4fr;
    grid-column: 2 / 3;
    align-items: center;
    z-index: 1;
}

input[type=search] {
    width: 400px;
    margin-left: 10px;
    border-radius: 10px;
    background-image: url(images/search.png);
    background-position: 6px 3px;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 30px;
    height: 29px;
    background-color: rgb(255, 252, 252);
}

.profile-picture-little img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.notifcation {
    justify-self: end;
    margin: 2px 5px 5px 5px;
}

.name-header {
    margin-left: 5px;
}

.sidebar {
    background-color: rgb(31, 109, 255);
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: grid;
    width: 250px;
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: 175px repeat(11, min(40px));
    justify-items: flex-start;
    align-items: center;
    z-index: 1;
    row-gap: 10px;
}

.sidebar-header {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    width: 200px;
    justify-self: center;
}

.sidebar-header p {
    margin-left: auto;
}

.icon img {
    height: 70px;
    width: 70px;
    filter: invert(100%);
}

.sidebar div {
    color: white;
    font-weight: bold;
}

.home {
    display: flex;
    align-items: center;
    justify-self: center;
}

.home img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(100%);
}

.profile {
    display: flex;
    align-items: center;
    justify-self: center;
}

.profile img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(100%);
}

.messages {
    display: flex;
    align-items: center;
    justify-self: center;
}

.messages img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(100%);
}

.history {
    display: flex;
    align-items: center;
    justify-self: center;
}

.history img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(100%);
}

.task {
    display: flex;
    align-items: center;
    justify-self: center;
}

.task img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(100%);
}

.communities {
    display: flex;
    align-items: center;
    justify-self: center;
}

.communities img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(100%);
}

.settings {
    display: flex;
    align-items: center;
    justify-self: center;
}

.settings img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(100%);
}

.support {
    display: flex;
    align-items: center;
    justify-self: center;
}

.support img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(100%);
}

.privacy {
    display: flex;
    align-items: center;
    justify-self: center;
}

.privacy img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    filter: invert(100%);
}


.nav {
    background-color: white;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 100px 3fr repeat(3, auto);
    align-items: center;
    box-shadow: grey -15px 1px 20px 0px;
}

.profile-picture-big img {
    width: 40px;
    height: 40px;
}

.profile-picture-big {
    justify-self: center;
}

.greeting-name p {
    margin: 0px;
    font-weight: bold;
}

.greeting-name p:first-child {
    font-size: small;
}

button {
    background-color: rgb(31, 109, 255);
    color: white;
    border-radius: 19px;
    width: 80px;
    height: 30px;
    border: none;
    font-weight: bold;
}

.upload-button, .share-button, .new-button {
    justify-self: center;
    align-self: center;
    margin: 10px;
}

.cards {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: fit-content;
    gap: 5px;
    background-color: rgb(241, 241, 252);
    z-index: -1;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 15px;
}

.project-title {
   width: 100%;
   padding-left: 25px;
   padding-top: 20px;
   font-weight: bolder;
   font-size: large;
   max-height: 3em;

}

.card {
    border-radius: 10px;
    max-height: 300px;
    max-width: 260px;
    padding: 15px;
    background-color: white;
    border-left: 4px solid orange;
    box-shadow: grey 4px 9px 20px 0px;
}

.announcements {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    max-height: 750px;
}

.announcement-title {
    width: 100%;
    padding-top: 20px;
    font-weight: bolder;
    font-size: large;
    max-height: 3em;
    margin-bottom: 20px;
}

.announcement-card{
    background-color: white;
    border-left: 4px solid orange;
    box-shadow: grey 4px 9px 20px 0px;
    border-radius: 10px;
    max-height: 480px;
    min-width: 250px;
}

.card-announcement {
    padding: 15px;
}

.trending {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;    
}

.trending-title {
    width: 100%;
   padding-top: 20px;
   font-weight: bolder;
   font-size: large;
   max-height: 3em;

}

.card-trending {
    background-color: white;
    border-left: 4px solid orange;
    box-shadow: grey 4px 9px 20px 0px;
    padding: 15px;
    border-radius: 10px;
}